<div class="topnav">
  <a href="/index" class="btn btn-link">Home</a><br>
  <a href="/pokemons" class="btn btn-link">Pokemon Index</a><br>
  <a href="/trainer" class="btn btn-link">Trainer</a><br>
  <a href="/logout" class="btn btn-link">Log Out</a>

</div><div align="center">
<div align="center">

<img src="https://www.nicepng.com/png/detail/876-8767084_yo-va-mizuki-sun-and-moon-player-character.png" width="220" length="150"/>

<h1> Welcome Home <%= @trainer.username.upcase %>!</h1>
<h3>Please enter your name, age, and hometown</h3>
<form action="/trainer" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" required>
  <label for="age">Age</label>
  <input type="number" step="1" pattern="\d+" name="age" required>
  <label for="hometown">Hometown</label>
  <input type="text" name="hometown" required><br><br>
  <input type="submit" value=" Submit ">
</form>


