<div class="topnav">
  <a href="/index" class="btn btn-link">Home</a><br>
  <a href="/list" class="btn btn-link">Pokemon Index</a><br>
  <a href="/signup" class="btn btn-link">Sign Up</a><br>
  <a href="/login" class="btn btn-link">Log In</a>
<div><br>

<div align="center">

<img src="https://static.giantbomb.com/uploads/scale_super/0/1481/2897229-9939923796-latest" alt="image" height="150" width = "400"
class="center"><br>
<div>
<h2>A list of Pokemon encountered in the wild</h2>
<h3>  
  <ul>
    <% Pokemon.all.each.with_index(1) do |pokemon, index|%>
      <%=  "#{index}. #{pokemon["name"].capitalize}"  %>
      <img src="<%= pokemon[:sprite] %>" alt="" align="center"> <br>
    <%end%>
  </ul>
</h3>

