<div class="topnav">
  <a href="/index" class="btn btn-link">Home</a><br>
  
  <div align="center">

<h1><%= @pokemon.name.capitalize %></h1>
<img src="<%= @pokemon[:sprite] %>" alt="" align="center" > <br>
<%="Height: #{@pokemon.height}"%> <br>
<%="Type: #{@pokemon.pokemon_type.capitalize}"%>


 