<h1>ERROR</h1>
<h2>EMBARRASSING </h2>
<p>It seems there was a problem. Please return to <a href="/">the home page</a> and try again.</p>

<p><strong><%=@messages%></strong></p>
<p><a href='/trainers'>go home</a></p>