<div class="topnav">
  <a href="/home" class="btn btn-link">Home</a><br>
  <a href="/index" class="btn btn-link">Pokemon Index</a><br>
  <a href="/signup" class="btn btn-link">Sign Up</a><br>
  <a href="/login" class="btn btn-link">Log In</a>
<div><br>

</div><div align="center">
<h1> Welcome back <%= @trainer.username.upcase %></h1>
<div>

<img src="https://static.giantbomb.com/uploads/scale_super/0/1481/2897229-9939923796-latest" alt="image" height="150" width = "400"
class="center"><br>
<div>
<h2>A list of Pokemon encountered in the wild</h2>
<h3>  
  <ul>
    <% Pokemon.all.each.with_index(1) do |pokemon, index|%>
      <%=  "#{index}. #{pokemon["name"].capitalize}"  %>
      <img src="<%= pokemon[:sprite] %>" alt="" style="border:5px solid black"> <br>
    <%end%>
  </ul>
</h3>

<br>
<form action="/logout" method="POST">
<input type="submit" value=" Logout ">
</form>
<br><br>
<label for="delete">Click below to end your Pokemon Journey</label>
<form action="/delete/<%= @trainer.id %>" method="POST"><br>
<input type="submit" name="method" value=" Delete Trainer ">
</form>