</div><div align="center">
<h1> Welcome back <%= @trainer.username.upcase %></h1>
<div>

<h1>Log in</h1>
<form action="/login" method="POST">
  <div class="form-group">
    <label class="form-label" for="username">Username:</label>
    <input class="form-input" id="username" name="username" type="textbox" />
  </div>
  <div class="form-group">
    <label class="form-label" for="password">Password:</label>
    <input class="form-input" id="password" name="password" type="password" />
  </div>
  <button class="btn">Submit</button>
</form>