<div align="center">
<img src="https://toucantoco.com/blog/wp-content/uploads/2016/07/Capture-d%E2%80%99e%CC%81cran-2016-07-19-a%CC%80-15.27.31.png" width="200" length="130"/>
<br> 
<h1 style="font-family:Optima;">Welcome Trainer</h1>
<hr>
<br>
<div class="formContainer">
<label for="username">Username</label>
<form action="/signup" method="POST">
<input type="text" name="username" id="username"> <br>

<label for="password">Password</label><br>
<input type="password" name="password" id="password"> <br>
<input type="submit" value=" Let's Go! ">
</form>

</div>
</form>
